<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./index.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<section class="bg-ex-snowflake">
    <header class="header">
        <div class="header__logo">
            <img class="header__logo" alt="logo" style="border-radius: 10px; width: 70px"
                 src="./images/logo.png" alt="logo"/>
            <p class="header__team">Холодные</p>
        </div>
        <nav class="header__navigation navigation">
            <button type="button" class="navigation__button home active" id="routeHome">
                <i class="fas fa-house-user"></i>
                <span class="navigation__button--title">HOME</span>
            </button>
            <button type="button" class="navigation__button question" id="routeQuestion">
                <i class="fas fa-question-circle"></i>
                <span class="navigation__button--title">QUESTIONS</span>
            </button>
            <button type="button" class="navigation__button about" id="routeAbout">
                <i class="far fa-address-card"></i>
                <span class="navigation__button--title">ABOUT</span>
            </button>
        </nav>
    </header>
    <section class="page-home" id="page-home">
        <section class="page-home__developers" id="info-developer"></section>
        <button class="add button" id="modal-home-2" type="button">Select user</button>
        <div id="my-modal-home-2" class="modal">
            <div class="modal__content">
                <div class="modal_header">
                    <span class="close-modal-2">×</span>
                    <h1>Select user for changing </h1>
                </div>
                <div class="modal-body">
                    <select id="user">
                        <option disabled>Select user:</option>
                        <option selected value="Team-lead">Team-lead</option>
                        <option value="Tech-lead">Tech-lead</option>
                        <option value="User-1">User-1</option>
                        <option value="User-2">User-2</option>
                    </select>
                    <button type="submit" id="modal-home" class="button">Submit</button>
                    <div id="my-modal-home" class="modal">
                        <div class="modal__content">
                            <div class="modal_header">
                                <span class="close-modal">×</span>
                                <h1>Change info about users </h1>
                            </div>
                            <div class="modal-body" id="modal-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-questions" id="page-questions">
        <div class="page-questions__filters">
            <select name="file-system" id="file-system">
                <option disabled>Select file system</option>
                <option selected value="jsonD">JSON</option>
                <option value="yaml">YAML</option>
                <option value="csv">CSV</option>
                <option value="xml">XML</option>
            </select>
            <select id="theme">
                <option disabled>Select theme</option>
                <option selected value="all">ALL</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JS">JS</option>
                <option value="GIT">GIT</option>
                <option value="SCSS">SCSS</option>
            </select>
            <button type="button" class="button" id="local-storage">Search</button>
            <button class="add button" id="show-question" onclick="modalQuestion()" type="button">
                <abbr title="Add new question">+</abbr>
            </button>
        </div>
        <section class="page-questions__add add">
            <p class="add__question" id="question-list">There are no questions</p>
        </section>
        <section class="modal" id="modal">
            <div class="modal__content">
                <div class="form-questions">
                    <button class="form-questions__exit" onclick="closedModal()" type="button">x</button>
                    <label class="form-questions__title" for="form-questions__question">Question:</label>
                    <textarea name="details" maxlength='255' autofocus tabindex="0" id="form-questions__question"
                              placeholder="Your question ..." cols="30" rows="5"></textarea>
                    <select id="modalTheme">
                        <option selected disabled>Select theme</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JS">JS</option>
                        <option value="GIT">GIT</option>
                        <option value="SCSS">SCSS</option>
                    </select>
                    <label class="form-questions__title">Answer:</label>
                    <div>
                        <label>
                            <input type="radio" name="boolean" value="true">True
                        </label>
                        <label>
                            <input type="radio" name="boolean" value="false">False
                        </label>
                    </div>
                    <label class="form-questions__title">File system:</label>
                    <div class="form-questions__type questions__type">
                        <label>
                            <input type="checkbox" name="fileSystem" value="jsonD">JSON
                        </label>
                        <label>
                            <input type="checkbox" name="fileSystem" value="csv">CSV
                        </label>
                        <label>
                            <input type="checkbox" name="fileSystem" value="xml">XML
                        </label>
                        <label>
                            <input type="checkbox" name="fileSystem" value="yaml">YAML
                        </label>
                    </div>
                    <div class="form-questions__buttons-group">
                        <button class="button form-questions__cancel" id="close-modal" type="button">cancel</button>
                        <button class="button form-questions__cancel" type="button" id="post-question" >save</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal" id="deleteQuestion">
            <div class="modal__content delete">
               <div class="delete__context">
                   <p>Are you sure you want to delete this question?</p>
                   <button class="button" type="button" onclick="deleteQuestion()">confirm</button>
                   <button class="button" type="button">cancel</button>
               </div>
            </div>
        </section>
    </section>
    <section class="page-about" id="page-about">
        <div class="page-about__content">
            <div class="page-about__content info">
                <h2 class="info__title">Description about project</h2>
                <div class="info__description">
                    Командой разработчиков "Холодные" был создан вводный проект для ознакомления с Front-End
                    направлением в сфере IT.
                    Перед командой стояла задача - разработать проект прилагая к этому максимум усилий,
                    при этом было запрещено использовать библиотеки.
                    Функционалом проекта является возможность записывать, редактировать а также удалять информацию
                    с дальнейшим сохранением данных на стороне пользователя в поддерживаемые форматы, такие как:
                </div>
            </div>
            <div class="page-about__content forms">
                <span class="forms__form-one">CSV</span>
                <span class="forms__form-two">JSON</span>
                <span class="forms__form-three">YAML</span>
                <span class="forms__form-four">XML</span>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" src="../index.js"></script>
</body>
</html>