<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./index.css" type="text/css" rel="stylesheet">

    <title>Home</title>
</head>
<body>
<section class="bg-ex-snowflake">
<header class="header">
    <img class="header__logo" alt="logo" style="border-radius: 10px; width: 80px;"
         src="./images/logo.png" alt="logo"/>
    <p class="header__team">Холодные</p>
    <nav class="header__navigation navigation">
        <span class="navigation__link" onclick="route('page-home')">HOME</span>
        <span class="navigation__link" onclick="route('page-questions')">QUESTIONS</span>
        <span class="navigation__link" onclick="route('page-about')">ABOUT</span>
    </nav>
</header>

<section class="page-home" id="page-home">
    <div id="info-developer"></div>
    <button class="add button" id="modal-home-2" type="button" onclick="openModal2()">Select user</button>
    <div id="my-modal-home-2" class="modal">
        <div class="modal_content">
            <div class="modal_header">
                <span class="close-modal-2">×</span>
                <h1>Select user for changing </h1>
            </div>
            <div class="modal-body">
                <select id="user">
                    <option disabled>Select user: </option>
                    <option selected value="Team-lead">Team-lead</option>
                    <option value="Tech-lead">Tech-lead</option>
                    <option value="User-1">User-1</option>
                    <option value="User-2">User-2</option>
                </select>
                <button type="submit" id="modal-home" class="button" onclick="openModal()">Submit</button>
                <div id="my-modal-home" class="modal">
                    <div class="modal_content">
                        <div class="modal_header">
                            <span class="close-modal">×</span>
                            <h1>Change info about users </h1>
                        </div>
                        <div class="modal-body" onload="changing()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-questions" id="page-questions">
    <select name="file-system" id="file-system">
        <option disabled>Select file system</option>
        <option selected value="JSON">JSON</option>
        <option value="YML">YML</option>
        <option value="CVS">CVS</option>
        <option value="XML">XML</option>
    </select>
    <select id="theme">
        <option disabled>Select theme</option>
        <option selected value="ALL">ALL</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JAVASCRIPT">JAVASCRIPT</option>
        <option value="GIT">GIT</option>
        <option value="REACT">REACT</option>
    </select>
    <button type="button" class="button" onclick="myLocalStorage()">Search</button>
    <button class="add button" id="show-button" onclick="modalQuestion()" type="button">
        <abbr title="Add new question">+</abbr>
    </button>
    <section class="page-questions__add add">
<!--                <p class="add__question" id="question-list">There are no questions</p>-->
        <!--        //test ==>-->
        <ul>
            <li>
                <button type="submit" class="question__delete" onclick="deleteQuestion()">x</button>
            </li>
            <li class="question__ask">Question: ggggggggggggggggggggggggggggggggggggg gggggggggggggggggggggggggggggggggggggg ggggg
                gggggggggggggggggggggggg gjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj jjjjjjbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbb
            </li>
            <li>Answer: ${el.answer}</li>
            <li>Theme question: ${el.theme}</li>
            <li class="question__date">Date: ${el.dateModify}</li>
        </ul>
        <ul>
            <li>
                <button type="submit" class="question__delete" onclick="deleteQuestion()">x</button>
            </li>
            <li>Question: ${el.questionAsk}</li>
            <li>Answer: ${el.answer}</li>
            <li>Theme question: ${el.theme}</li>
            <li class="question__date">${el.dateModify}</li>
        </ul>
    </section>
    <section class="modal" id="modal">
        <div class="modal_content">
            <form class="form-questions" id="get-form-questions">
                <button class="form-questions__exit" onclick="closedModal()" type="submit">x</button>
                <label class="form-questions__title" for="form-questions__question">Questions:</label>
                <textarea name="details" maxlength='250' autofocus tabindex="0" id="form-questions__question"
                          placeholder="Your question ..." cols="30" rows="5"></textarea>
                <select id="modalTheme">
                    <option selected disabled>Select theme</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="JAVASCRIPT">JAVASCRIPT</option>
                    <option value="GIT">GIT</option>
                    <option value="REACT">REACT</option>
                </select>
                <div class="form-questions__title">Answer</div>
                <div class="form-questions__buttons-group">
                    <label>
                        <input type="radio" name="boolean" value="True">True
                    </label>
                    <label>
                        <input type="radio" name="boolean" value="false">False
                    </label>
                </div>
                <label class="form-questions__title">File system</label>
                <div class="form-questions__type questions__type">
                    <label>
                        <input type="checkbox" id="questions__type--JSON" name="fileSystem">JSON
                    </label>
                    <label>
                        <input type="checkbox" id="question__type-CSV" name="fileSystem">CSV
                    </label>
                    <label>
                        <input type="checkbox" id="question__type-XML" name="fileSystem">XML
                    </label>
                    <label>
                        <input type="checkbox" id="question__type-YAML" name="fileSystem">YAML
                    </label>
                </div>
                <div class="form-questions__buttons-group">
                    <button class="button form-questions__cansel" onclick="closedModal()" type="submit">cancel</button>
                    <button class="button" type="submit" disabled="disabled" onclick="postQuestions()">save</button>
                </div>
            </form>
        </div>
    </section>
    <section class="modal" id="deleteQuestion">
        <div class="modal_content">
            <p>Are you sure you want to delete this question?</p>
            <button class="button" type="button" onclick="deleteQuestion()">confirm</button>
            <button class="button" type="button">cancel</button>
        </div>
    </section>
</section>

<section class="page-about" id="page-about">
    <div class="page-about__content">
        <div class="page-about__content info">
            <h2 class="info__title">Description about project</h2>
            <div class="info__description">
                Командой разработчиков "Холодные" был создан вводный проект для ознакомления с Front-End
                направлением в сфере IT.
                Перед командой стояла задача - разработать проект прилагая к этому максимум усилий,
                при этом было запрещено использовать библиотеки.
                Функционалом проекта является возможность записывать, редактировать а также удалять информацию
                с дальнейшим сохранением данных на стороне пользователя в поддерживаемые форматы, такие как:
            </div>
        </div>
        <div class="page-about__content forms">
            <span class="forms__form-one">CSV</span>
            <span class="forms__form-two">JSON</span>
            <span class="forms__form-three">YAML</span>
            <span class="forms__form-four">XML</span>
        </div>
    </div>
</section>
</section>

<script type="text/javascript" src="./index.js"></script>
</body>
</html>