<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link href="./../../../web/dist/index.css" type="text/css" rel="stylesheet">-->

    <title>Home</title>
</head>
<body>
<header class="header">
    <img class="header__logo" alt="logo" style="border-radius: 10px; width: 80px;"
         src="https://img.genial.ly/5f89a55dbce4d50f7480c1f6/6503b195-b167-4705-b96b-97243ce67c21.gif?602d5d218af1fa10335c4fdf&1639939212268"/>
    <p class="header__team">Джаваскриптизеры</p>
    <nav class="header__navigation navigation">
        <span class="navigation__link" onclick="route('page-home')">HOME</span>
        <span class="navigation__link" onclick="route('page-questions')">QUESTIONS</span>
        <span class="navigation__link" onclick="route('page-about')">ABOUT</span>
    </nav>
</header>

<section class="page-home" id="page-home">
    <div id="info-developer"></div>
    <button class="add button" id="show-change" type="button">Change participant data</button>

    <button id="modal-home" class="button">Open Modal</button>
    <div id="my-modal-home" class="modal">
        <div class="modal_content">
            <span class="close-modal">×</span>
            <p>Модальное окно!</p>
        </div>
    </div>
</section>

<section class="page-questions" id="page-questions">
    <select name="file-system" id="file-system">
        <option selected disabled>Select file system</option>
        <option value="all">all</option>
        <option value="JSON">JSON</option>
        <option value="YML">YML</option>
        <option value="CVS">CVS</option>
        <option value="XML">XML</option>
    </select>
    <select name="theme" id="theme">
        <option selected disabled>Select theme</option>
        <option name="all">all</option>
        <option name="theme1" value="theme1">theme 1</option>
        <option name="theme2">theme 2</option>
        <option name="theme3">theme 3</option>
        <option name="theme4">theme 4</option>
    </select>
    <button type="submit" class="button" onclick="fileSystem()">Search</button>
    <button class="add button" id="show-button" type="button">
        <abbr title="Add new question">+</abbr>
    </button>
    <section class="modal" id="modal">
        <div class="modal_content">
            <form class="form-questions" id="get-form-questions">
                <button class="form-questions__exit" type="button">x</button>
                <div class="form-questions__message"></div>
                <label class="form-questions__title" for="getQuestion">Questions:</label>
                <textarea name="details" maxlength='250' autofocus tabindex="0" id="getQuestion"
                          placeholder="Your question ..." cols="30" rows="5"></textarea>
                <div>Select from the list of topics:</div>
                <select name="theme" id="modal__theme">
                    <option selected disabled>Select theme</option>
                    <option value="all">all</option>
                    <option value="theme1">theme 1</option>
                    <option value="theme2">theme 2</option>
                    <option value="theme3">theme 3</option>
                    <option value="theme4">theme 4</option>
                </select>
                <label class="form-questions__title" for="form-questions__theme">If you don't like it, write your
                    topic:</label>
                <input class="form-questions__input" tabindex="1" id="form-questions__theme" name="text" type="text"
                       placeholder="yuor theme">
                <div class="form-questions__title">Answer</div>
                <div class="form-questions__buttons-group">
                    <label>
                        <input type="radio" name="boolean" value="True">True
                    </label>
                    <label>
                        <input type="radio" name="boolean" value="false">False
                    </label>
                </div>
                <label class="form-questions__title">File system</label>
                <div class="form-questions__buttons-group">
                    <label>
                        <input type="checkbox" name="format" value="false">CSV
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">JSON
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">XML
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">YAML
                    </label>
                </div>
                <div class="form-questions__buttons-group">
                    <button class="button form-questions__cansel" type="button">cancel</button>
                    <button class="button" type="button">save</button>
                </div>
            </form>
        </div>
    </section>
    <section class="page-questions__add add">
        <p class="add__question">list of questions</p>
        <a href="/download" target="_blank">Download this pade</a>
    </section>
    <section>
        <template id="question-template"></template>
    </section>
</section>

<section id="page-about">
    <div class="page-about__content">
        <div class="page-about__content info">
            <h2 class="info__title">Description about project</h2>
            <div class="info__description">
                Командой разработчиков "Джаваскриптизеры" был создан вводный проект для ознакомления с Front-End
                направлением в сфере IT.
                Перед командой стояла задача - разработать проект прилагая к этому максимум усилий,
                при этом было запрещено использовать библиотеки.
                Функционалом проекта является возможность записывать, редактировать а также удалять информацию
                с дальнейшим сохранением данных на стороне пользователя в поддерживаемые форматы, такие как:
            </div>
        </div>
        <div class="page-about__content forms">
            <span class="forms__form-one">CSV</span>
            <span class="forms__form-two">JSON</span>
            <span class="forms__form-three">YAML</span>
            <span class="forms__form-four">XML</span>
        </div>
    </div>
</section>

<!--<script type="text/javascript" src="../index.js"></script>-->
<script>
    function modal01() {
        let modal = document.getElementById("MODAL");
        let btn = document.getElementById("BTN");
        let span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "grid";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    }

    function modal02() {
        let modal = document.getElementById("MODAL2");
        let btn = document.getElementById("BTN2");
        let span = document.getElementsByClassName("close2")[0];

        btn.onclick = function () {
            modal.style.display = "grid";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }

    }

    function modal03() {
        let modal3 = document.getElementById("MODAL3");
        let btn3 = document.getElementById("BTN3");
        let span3 = document.getElementsByClassName("close3")[0];

        btn3.onclick = function () {
            modal3.style.display = "grid";
        }

        span3.onclick = function () {
            modal3.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modal3) {
                modal3.style.display = "none";
            }
        }

    }

    function modal04() {
        let modal4 = document.getElementById("MODAL4");
        let btn4 = document.getElementById("BTN4");
        let span4 = document.getElementsByClassName("close4")[0];

        btn4.onclick = function () {
            modal4.style.display = "grid";
        }

        span4.onclick = function () {
            modal4.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modal4) {
                modal4.style.display = "none";
            }
        }

    }

</script>

</body>
</html>