.page-about {

  &__content {

    .info {
      background: linear-gradient(
                      90deg, #00009C 0%, #9915D6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      font-size: 20px;
      letter-spacing: 0.045em;
      line-height: 40px;
      font-family: monospace;
      font-weight: 400;
      margin: 30px;
      text-align: left;

      &__title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 40px;
      }
    }

    .forms {
      font-size: 30px;
      line-height: 40px;
      font-family: Verdana, sans-serif;
      font-weight: 900;
      position: relative;
      overflow: hidden;
      text-transform: initial;
      text-align: center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: repeating-linear-gradient(
                      -45deg, transparent, transparent 1em, black 1em, red 50%), repeating-linear-gradient(
                      45deg, red , black 1em, red 1em, black 50%);
      background-size: 3em 3em, 2em 2em;
      animation-name: ani;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 50%;
  }
}