@import "_variables";

.page-about {
  margin-top: -30px;
  background: linear-gradient(180deg, $color-main-dark 0%,$color-main-medium 100%);

  &__content {
    .info {
      position: relative;
      margin: 30px;
      background: linear-gradient(90deg, $color-white 80%, blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.045em;
      font-weight: 400;
      font-size: 20px;
      text-align: left;

      @media(min-width: 768px) {
        line-height: 40px;
      }

      &__title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 40px;
      }
    }

    .forms {
      position: relative;
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, $color-white 1em, #9A0680 50%),
                        repeating-linear-gradient(45deg, $color-main-bright, $color-white 1em, $color-main-bright 1em, $color-white 50%);
      background-size: 3em 3em, 2em 2em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: initial;
      text-align: center;
      font-weight: 900;
      font-size: 30px;
      line-height: 40px;
      overflow: hidden;
      animation-name: ani;
      animation-duration: 80s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 50%;
  }
}