@import "_variables";

.header {
  padding-top: 10px;
  background-color: $color-main-dark;

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1330px;
    margin: auto;

    .logo {
      display: flex;
      justify-content: center;

      @media(min-width: 768px) {
        justify-content: flex-end;
      }

      &__img {
        width: 80px;
        margin-bottom: -3px;
      }

      &__team {
        margin: auto 10px;
        font-size: 30px;
        text-transform: uppercase;
        background: linear-gradient(
                        90deg, $color-white 0%, #1515c3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    @media (min-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__modal {
    display: flex;
    justify-content: center;
  }


  .navigation {
    display: flex;
    justify-content: center;
    width: 290px;
    margin: auto;

    @media(min-width: 600px) {
      margin: 0;
    }

    &__link {
      min-height: 50px;
      height: 60px;
      margin: 0 10px;
      border: none;
      background: none;
      color: $color-white;
      font-weight: 800;
      transition-duration: 0.5s;
      transition: 0.5s;
      cursor: pointer;

      i {
        visibility: hidden;
      }

      &.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90px;
        border: 1px solid;
        background: lightcyan;
        color: $color-main;;
        box-shadow: 0 1px 5px 5px $color-white;

        i {
          visibility: visible;
          transform: translateY(15px);
        }

        .link__title {
          transform: translateY(20px);
          display: inline-block;
        }
      }
    }
  }
}