.form-developer {
  background-color: white;
  color: blue;

  input {
    font-size: 20px;
    margin-left: 10px;
    width: 70%;
  }

  label {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 10px 25px;
    font-size: 20px;
  }

  .img__content {
    width: 240px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px;
    margin: 0 auto;
  }

  .user1,
  .user2,
  .user3,
  .user4 {
    line-height: 60px;
  }

  &__button {
    text-align: right;
    margin: 10px;
  }
}