@import "_variables";

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animationModal;
    animation-duration: 0.5s;

    /* Add Animation */
    @-webkit-keyframes animationModal {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    @keyframes animationModal {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    .content-delete {
      &__context {
        padding: 30px;
        background-color: $color-white;
        text-align: end;
      }
    }
  }
}