@import "_variables";

.page-questions {
  background: linear-gradient(180deg, #160040 0%, #4C0070 100%);

  &__filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  &__add {
    text-align: left;
    padding: 5px 10px;
    margin: 10px;

    ul {
      background-color: white;
      position: relative;
      transition-duration: 2s;
      border: 1px solid;
      list-style-type: none;
      padding: 10px;
      margin: 10px 0;
      color: #79018C;;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background: #79018C;
        color: white;
      }

      &:hover .question__delete {
        display: inline-block;
        position: absolute;
        right: 10px;
        cursor: pointer;
        border: 1px solid;
        color: white;
        background: #160040;
      }

      .question {
        &__ask {
          max-height: 60px;
          overflow: hidden;
          display: -webkit-box;
          //add height > 3 line? add: (...) and hidden text
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          transition-duration: 0.5s;

          &:hover {
            display: block;
            max-height: 100%;
          }
        }

        &__delete {
          transition-duration: 0.5s;
          display: none;
        }

        &__date {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }

  .form-questions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 60vw;
    background: linear-gradient(180deg, #160040 0%, #4C0070 100%);
    color: white;

    .disabled {
      background-color: grey;

      &:hover {
        cursor: not-allowed;
        color: white;
        border: 5px double white;
      }
    }

    label {
      font-weight: 800;
      padding: 10px;
    }

    input {
      cursor: pointer;
      margin: 5px;
    }

    &__input {
      border: 3px double $main-color;

      &:focus,
      &:focus-visible {
        outline: skyblue;
        border: 3px double $main-color;
      }
    }

    &__exit {
      position: absolute;
      right: 10px;
      border: 3px solid;
      color: white;
      background-color: #79018C;;
    }

    &__title {
      display: block;
      text-align: left;
      padding: 5px;
    }

    &__buttons-group {
      text-align: right;
    }
  }

  //fixed height textarea
  textarea[name="details"] {
    resize: none;
    border: 1px solid;
    color: #79018C;
    padding: 10px;
    margin: 5px;
  }
}
