@import "_variables";

.page-questions {
  background: linear-gradient(180deg, $color-main-dark 0%,$color-main-medium 100%);

  abbr {
    text-decoration: auto
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  &__add {
    margin: 10px;
    padding: 5px 10px;
    text-align: left;

    ul {
      position: relative;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid;
      list-style-type: none;
      background-color: $color-white;
      color: $color-main;
      font-size: 16px;
      transition-duration: 2s;
      cursor: pointer;

      &:hover {
        background: $color-main;
        color: $color-white;
      }

      &:hover .question__delete {
        display: inline-block;
        position: absolute;
        right: 10px;
        border: 1px solid;
        background: $color-main-dark;
        color: $color-white;
        cursor: pointer;
      }

      .question {
        &__ask {
          max-height: 60px;
          display: -webkit-box;
          //add height > 3 line? add: (...) and hidden text
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          transition-duration: 0.5s;

          &:hover {
            display: block;
            max-height: 100%;
          }
        }

        &__delete {
          display: none;
          transition-duration: 0.5s;
        }

        &__date {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }

  .form-questions {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    padding: 10px;
    background: linear-gradient(180deg, $color-main-dark 0%, $color-main-medium 100%);
    color: $color-white;
    text-align: left;

    .disabled {
      background-color: grey;

      &:hover {
        border: 5px double $color-white;
        color: $color-white;
        cursor: not-allowed;
      }
    }

    label {
      padding: 10px;
      font-weight: 800;
    }

    input {
      margin: 5px;
      cursor: pointer;
    }

    &__input {
      border: 3px double $color-main;

      &:focus,
      &:focus-visible {
        border: 3px double $color-main;
        outline: skyblue;
      }
    }

    &__exit {
      position: absolute;
      right: 10px;
      border: 3px solid;
      background-color: $color-main;
      color: $color-white;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $color-main-dark;
        text-decoration: none;
      }
    }

    &__title {
      display: block;
      padding: 5px;
      text-align: left;
    }

    &__buttons-group {
      text-align: right;
    }
  }

  //fixed height textarea
  textarea[name="details"] {
    resize: none;
    border: 1px solid;
    margin: 5px;
    padding: 10px;
    color: $color-main;
  }
}
