@import "_variables";

.page-questions__add {
  border: 2px solid;
  text-align: left;
  padding: 10px 20px;

  ul {
    position: relative;
    transition-duration: 2s;
    border: 1px solid;
    list-style-type: none;
    padding: 10px;

    &:hover {
      background: aliceblue;
    }

    &:hover .question__delete {
      display: inline-block;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }

    .question {
      &__ask {
        max-height: 60px;
        overflow: hidden;
        display: -webkit-box;
        //add height > 3 line? add: (...) and hidden text
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transition-duration: 4s;

        &:hover {
          display: block;
          max-height: 100%;
        }
      }

      &__delete {
        transition-duration: 5s;
        display: none;
      }

      &__date {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}

.form-questions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // background: white url(https://en.js.cx/clipart/prompt.png) no-repeat left 5px;
  position: relative;
  text-align: left;
  width: 60vw;
  background: white;

  input {
    cursor: pointer;
  }

  &__input {
    border: 3px double $main-color;

    &:focus,
    &:focus-visible {
      outline: skyblue;
      border: 3px double $main-color;
    }
  }

  &__exit {
    position: absolute;
    right: 10px;
  }

  &__title {
    display: block;
    text-align: left;
    padding: 5px;
  }

  &__buttons-group {
    text-align: left;
  }
}

//fixed height textarea
textarea[name="details"] {
  resize: none;
}
