@import "_variables";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.bg-ex-snowflake {
  height: 100vh;
  margin-top: -10px;
  background: url('./images/snowflake.png'); /* Путь к картинке */
  background-position: 0 0;
  background-repeat: repeat;
  animation: animated-snowflake 60s linear infinite;

  @media(min-width: 768px) {
    background: url('./images/snowflake1.png');
  }

  @media(min-width: 1080px) {
    background: url('./images/snowflake2.png');
  }
}

@keyframes animated-snowflake {
  from {
    background-position: -800px 0;
  }
  to {
    background-position: 0 800px;
  }
}

.button {
  width: 165px;
  background-color: $main-color;
  border: 5px double;
  text-transform: uppercase;
  color: white;
  padding: 7px 15px;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: #160040;
    color: white;
    border: 5px double white;
  }
}

select {
  background: $main-color;
  color: white;
  border: 5px double;
  padding: 7px 15px;
  margin: 5px;
  cursor: pointer;
}

abbr {
  text-decoration: auto
}

.container {
  max-width: 1400px;
  margin: auto;
}