<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../index.css" rel="stylesheet">
    <title>Questions</title>
</head>
<body>
<header class="header">
    <img class="header__logo" alt="logo" style="border-radius: 10px; width: 80px;"
         src="https://img.genial.ly/5f89a55dbce4d50f7480c1f6/6503b195-b167-4705-b96b-97243ce67c21.gif?602d5d218af1fa10335c4fdf&1639939212268"/>
    <p class="header__team">Джаваскриптизеры</p>
    <nav class="header__navigation navigation">
        <a href="home.html" class="navigation__link">HOME</a>
        <a href="question.html" class="navigation__link">QUESTIONS</a>
        <a href="about.html" class="navigation__link">ABOUT</a>
    </nav>
</header>
<section class="page-questions" id="page-questions">
    <select name="file-system" id="file-system">
        <option selected disabled>Select file system</option>
        <option value="all">all</option>
        <option value="JSON">JSON</option>
        <option value="YML">YML</option>
        <option value="CVS">CVS</option>
        <option value="XML">XML</option>
    </select>
    <select name="theme" id="theme">
        <option selected disabled>Select theme</option>
        <option name="all">all</option>
        <option name="theme1" value="theme1">theme 1</option>
        <option name="theme2">theme 2</option>
        <option name="theme3">theme 3</option>
        <option name="theme4">theme 4</option>
    </select>
    <button type="submit" class="button" onclick="fileSystem()">Search</button>
    <button class="add button" id="show-button" type="button">
        <abbr title="Add new question">+</abbr>
    </button>
    <section class="modal" id="modal">
        <div class="modal_content">
            <form class="form-questions" id="get-form-questions">
                <button class="form-questions__exit" type="button">x</button>
                <div class="form-questions__message"></div>
                <label class="form-questions__title" for="getQuestion">Questions:</label>
                <textarea name="details" maxlength='250' autofocus tabindex="0" id="getQuestion" placeholder="Your question ..." cols="30" rows="5"></textarea>
                <div>Select from the list of topics:</div>
                <select name="theme" id="modal__theme">
                    <option selected disabled>Select theme</option>
                    <option value="all">all</option>
                    <option value="theme1">theme 1</option>
                    <option value="theme2">theme 2</option>
                    <option value="theme3">theme 3</option>
                    <option value="theme4">theme 4</option>
                </select>
                <label class="form-questions__title" for="form-questions__theme">If you don't like it, write your topic:</label>
                <input class="form-questions__input" tabindex="1" id="form-questions__theme" name="text" type="text" placeholder="yuor theme">
                <div class="form-questions__title">Answer</div>
                <div class="form-questions__buttons-group">
                    <label>
                        <input type="radio" name="boolean" value="True">True
                    </label>
                    <label>
                        <input type="radio" name="boolean" value="false">False
                    </label>
                </div>
                <label class="form-questions__title">File system</label>
                <div class="form-questions__buttons-group">
                    <label>
                        <input type="checkbox" name="format" value="false">CSV
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">JSON
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">XML
                    </label>
                    <label>
                        <input type="checkbox" name="format" value="false">YAML
                    </label>
                </div>
                <div  class="form-questions__buttons-group">
                    <button class="button form-questions__cansel" type="button">cancel</button>
                    <button class="button" type="button">save</button>
                </div>
            </form>
        </div>
    </section>
    <section class="page-questions__add add">
        <p class="add__question">list of questions</p>
    </section>
</section>

<script type="text/javascript" src="../index.js"></script>
<script>
    const closeModal = document.getElementsByClassName("form-questions__exit")[0];
    const closeModalCansel = document.getElementsByClassName("form-questions__cansel")[0];
    const myModal = document.getElementById("modal");
    const show = document.getElementById("show-button");

    show.onclick = function () {
        myModal.style.display = "grid";
    }

    closeModalCansel.onclick = function () {
        myModal.style.display = "none";
    }

    closeModal.onclick = function () {
        myModal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == myModal) {
            myModal.style.display = "none";
        }
    }
</script>
</body>
</html>