@import "_variables";

.add {
  @include toggle(white);
}

.page-questions__add {
  border: 2px solid;
  height: 70vh;
  text-align: left;
  padding: 10px 20px;
}

.form-questions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // background: white url(https://en.js.cx/clipart/prompt.png) no-repeat left 5px;
  position: relative;
  text-align: left;

  input {
    cursor: pointer;
  }

  &__input {
    border: 3px double $main-color;

    &:focus,
    &:focus-visible {
      outline: skyblue;
      border: 3px double $main-color;
    }
  }

  &__exit {
    @include toggle(black);
    position: absolute;
    right: 10px;
  }

  &__title {
    display: block;
    text-align: left;
    padding: 5px;
  }

  &__buttons-group {
    text-align: left;
  }
}

textarea[name="details"] {
  resize: none;
}
