<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
<header class="header">
  <img class="header__logo" alt="logo" style="border-radius: 10px; width: 80px;"
       src="https://img.genial.ly/5f89a55dbce4d50f7480c1f6/6503b195-b167-4705-b96b-97243ce67c21.gif?602d5d218af1fa10335c4fdf&1639939212268"/>
  <p class="header__team">Джаваскриптизеры</p>
  <nav class="header__navigation navigation">
    <button class="navigation__button button" onclick="route('page-home')">HOME</button>
    <button class="navigation__button button" onclick="route('page-questions')">QUESTIONS</button>
    <button class="navigation__button button" onclick="route('page-about')">ABOUT</button>
  </nav>
</header>

<section id="page-about">
    <div class="page-about__content">
        <div class="page-about__content info">
            <div class="info__title">Description about project</div>
            <div class="info__description">
                Командой разработчиков "Джаваскриптизеры" был создан вводный проект для ознакомления с Front-End направлением в сфере IT.
                <br>
                Перед командой стояла задача - в кратчайшие сроки создать из говна конфетку прилагая к этому максимум усилий,
                при этом было запрещено: <br> 1. Использовать библиотеки <br> 2. Хранить данные на node.js сервере <br> 3. Спать)))
                <br>
                Функционалом проекта является возможность записывать, редактировать а также удалять информацию
                с дальнейшим <br> сохранением данных на стороне пользователя в поддерживаемые форматы, такие как:
            </div>
        </div>
        <div class="page-about__content forms">
            <label class="forms__form-one">CSV</label>
            <label class="forms__form-two">JSON</label>
            <label class="forms__form-three">YAML</label>
            <label class="forms__form-four">XML</label>
        </div>
    </div>
</section>

<script type="text/javascript" src="index.js"></script>

</body>
</html>